{% extends 'base.html.twig'%}
{% block body %}


<h1>Bienvenu dans ce blog !!</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aspernatur autem ab blanditiis.
 Ipsam qui unde dolorem aut, eligendi numquam. Praesentium eos nemo esse soluta voluptas 
 tempora, illo debitis distinctio harum. Quam magni minima, sint accusantium eius corrupti 
 expedita assumenda.</p>
<p>Quae ratione ut officiis soluta commodi culpa sed unde laborum perferendis ipsum dignissimos
 quos sequi cum ad iste harum, molestias blanditiis numquam, laudantium consequuntur adipisci? 
 Iusto quae, eum tenetur consequuntur iste repellendus fugit consectetur harum eaque blanditiis
omnis commodi totam.</p>

{% endblock %}